body{
    background: linear-gradient(90deg, rgb(71, 5, 5), #5d8eaf);
    color:  white;
}

header{
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
    transition: color 0.5s ease;
    transition: transform 0.5s ease-in-out;
}

header:hover{
    cursor: pointer;
    color: #b8d8ed;
    transform: scale(1.1);
}